.Box-Connexion{
    position: relative;
    width: 600px;
    height: 705.83px;
    bottom: 500px;
    left: 800px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 7px 12px rgba(228, 174, 174, 0.5);


}



.haut{
    stroke: #E7E9EB;
    background-color: white;
    box-shadow: 5px 5px #E7E9EB;
    padding: 10px;
}



.logoC{
    margin-left: 40%;
    top: 5px;
}

.line{
    width: 49.37px;
    height: 1px;
    background-color: #F27054;
    rotate: 90deg;
    margin-left: -250px;
}


.chef{
    position: relative;
    width: 519px;
   height: 629px;
   top: 250px;
   left: 470px;

}


h3{
    position: relative;
    font-family: Public Sans;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
top: 35px;

}


p1{
    position: absolute;
    font-family: Public Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
left: 115px;
margin-top: 20px;
}


.email1{
    position: relative;
    width: 340px;
    height: 30px;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    top: 50px;
    left: 115px;
    outline: none;
    background-color: rgba(252, 252, 252, 0);
}


.formulaire{
    position: absolute;
    top: 150px;
}

p2{
    position: absolute;
    font-family: Public Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
left: 115px;
margin-top: 20px;
}

label{
    position: absolute;
    left: 100px;
    margin-top: 20px;
}

h10{
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
}

h7{
    position: absolute;
    left: 100px;
    margin-top: 50px;
}

.partie{
    position: relative;
    margin-bottom: 60px;
}


h5{
    position: relative;
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 600;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
top: 5px;
left: 128px;
color: #F27054;
}


.seConnecter{
    width: 50%;
    padding: 10px;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: 5px 5px #E7E9EB ;
}



p3{
    position: relative;
    left: 50px;
}


@media screen and (max-width: 1480px) {
    .logoC{
        left: 350px;
        
    }
    
.connexion{
   left: 550px;

}
.line{

    left: 485px;   
}
.chef{

   left: -70px;

}
.Box-Connexion{
       
    left: 23%;
}




}
@media  (max-width: 768px) {
    .logoC{
        margin-left: 30%;
        
    }

    .chef{
        display: none;
        
    }
    .email1{
        left: 5%;
    }
    .Box-Connexion{
        width: 100%;
        margin-left: 10px;
        }
    .seConnecter{
        width: 90%;
    }
}
@media  (max-width: 480px) {

    .logoC{
        display: none;
        
    }
    
.connexion{
   margin-left: 30%;
}
.line{
display: none; 
}
.partie{
    left: 20%;
}
.chef{
display: none;

}
.Box-Connexion{
    top: 80px;
    left: 0px;
    max-width: 480px;
}
.email1{
    left: 10%;
    width: 100%;
}
.seConnecter{
    left: 30%;
    width: 100%;
}
label{
    left: 10%;
}

 h7{
    left: 15%;
}
h5{
    left: 15%;
}

}