.Box-Connexion{
    position: relative;
    width: 600px;
    height: 705.83px;
    bottom: 500px;
    left: 800px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 7px 12px rgba(228, 174, 174, 0.5);


}
.navbar {
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    box-shadow: 5px 5px #E7E9EB ;
  
    top: 0;
    z-index: 20;
  }
 

.logoC{
    margin-left: 40%;
    top: 5px;
}



.chef{
    position: relative;
    width: 519px;
   height: 629px;
   top: 250px;
   left: 470px;

}




.formulaire{
    position: absolute;
    top: 150px;
}


label{
    position: absolute;
    left: 100px;
    margin-top: 20px;
}




h5{
    position: relative;
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 600;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
top: 5px;
left: 128px;
color: #F27054;
}


.seConnecter{
    width: 50%;
    padding: 10px;
    background-color: white;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    box-shadow: 5px 5px #E7E9EB ;
}

.ReCAPTCHA{
    margin-left: 25%;
}

  
.registration-form p1 {
    text-align: center;
    position: relative;
    top: -80px;
  }
  
.google-button {
    margin-left: 28%; /* Espacement entre le texte et l'icône */
    padding: 10px;
    margin-top: 20px; /* Espacement par défaut par rapport au formulaire */
  }
  



@media screen and (max-width: 1480px) {
    .logoC{
        left: 350px;
        
    }
    
.connexion{
   left: 550px;

}

h5{
    left: 15%;
}
.chef{

   left: -70px;

}
.Box-Connexion{
       
    left: 23%;
}




}
@media  (max-width: 998px) {
    .logoC{
        margin-left: 30%;
        
    }
    h5{
        left: 15%;
    }
    .chef{
        display: none;
        
    }


    .Box-Connexion{
        width: 100%;
        margin-left: 10px;
        }
    .seConnecter{
        width: 90%;
    }
    .google-button {
        margin-left: 25%; /* Espacement entre le texte et l'icône */
        padding: 10px;
        margin-top: 20px; /* Espacement par défaut par rapport au formulaire */
      }
      
}


@media  (max-width: 880px) {

    .logoC{
        display: none;
        
    }
    
.connexion{
   margin-left: 30%;
}

.chef{
display: none;

}
.Box-Connexion{
    top: 80px;
    left: 0px;
    max-width: 480px;
}

.seConnecter{
    left: 30%;
    width: 100%;
}
label{
    left: 10%;
}


h5{
    left: 15%;
}
.google-button {
    margin-left: 25%; /* Espacement entre le texte et l'icône */
    padding: 10px;
    margin-top: 20px; /* Espacement par défaut par rapport au formulaire */
  }

  .ReCAPTCHA{
    margin-left: 18%;
}
  
}