.image{
    height: 100%;
    top: 5px;
    position: relative;
    padding: 0 1rem;
    height: 719px;
    border-radius: 20px;
    margin-left: 1290px;

}


.Filtered{
    position: absolute;
    margin-top: 160px;
}

.container1{
    justify-content: space-between;
    height: 797px;
	background-color: #f7cdc3;
	color: var(--textColor);
    box-shadow: 5px 5px #E7E9EB ;
}



.ArrowL{
    position: absolute;
    bottom: 25px;
    left: 1000px;
    color: white;
    background-color: #F27054;
    border-radius: 1.5px;
    width: 21px;
    height: 21px;
}

.ArrowR{
    position: absolute;
    bottom: 25px;
    left: 1050px;
    color: white;
    border-radius: 1.5px;
    background-color: #F27054;
    width: 21px;
    height: 21px;
}

.populaire{
    margin-top: 60px;

}


.container2{



    display: flex;
	justify-content: space-between;
    height: 1936px;
    margin-top: 150px;
    padding: 0 2rem;
	background-color: #f7cdc3;
	color: var(--textColor);
    box-shadow: 5px 5px #E7E9EB ;

}



.contenu{
    position: relative;
    width: 1500px;
    margin-left: 540px;
    bottom: 15px;
    display: grid;
} 



h1{
    position: relative;
    left: 40px;
    top: 50px;
    
}

.container1 .sliding{
    position: absolute;
    top: 2rem;
}



@media only screen and (max-width: 1950px) {
	.image{
        margin-left: 2px;
        width: 50%;
  
    }
    
.container1{
    width: 100%;
   

}

.sliding{
    left: 0px;
    width: 100%;
    margin-top: 20px;
}

/* Grid.css */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .grid-item {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }

  

.populaire{
    position: absolute;
    margin-top: 20px;
}

.Filtered{
    right: 680px;
}

.contenu{

    width: 100%;
    margin-left: 20%;
    bottom: 15px;
    display: grid;
} 


}