/* Mise en page de base pour les grands écrans */
.registration-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    height: 100vh;
  }
  

  
  .registration-image {
    flex: 1;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
  }
  .registration-image img {
    width: 519px;
   height: 629px;   
  }
  
  .registration-form {
    width: 50%;
    max-width: 400px;
    flex: 1;
    padding: 20px;
    text-align: center;
    height: 100%;
    max-height: 705px;
    bottom: 500px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 7px 12px rgba(228, 174, 174, 0.5);
  }
  
  .registration-form h2 {
    text-align: center;
    margin-left: 40%;
  }
  
  .registration-form p {
    text-align: center;
    margin-top: 20px;
  }
  
  .form-group {
    margin-top: 40px;
  }
  

  
  input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.button {
  position: relative;
  width: 340px;
  height: 53px;
  border-radius: 6px;
  top: 40px;
  border: none;
  left: 115px;
  background-color: #F27054;
  font-size: 15px;
  border-radius: 6px;
  box-shadow: 5px 5px #E7E9EB ;



  }
  
  a {
    text-decoration: none;
    color: #F27054;

  }


  

  
  /* Ajouter des règles de mise en page pour les écrans plus petits */
  @media (max-width: 870px) {

    .registration-container {
      flex-direction: column;
    }
    
    .registration-image {
      flex: none;
    }
    
    .registration-form {
      width: 100%;
      border: none;
      border-radius: 0;
    }
    .registration-image img{
        display: none;
      }
  }
  
  /* Ajouter des règles de mise en page pour les grands écrans (largeur minimale de 1200px) */
  @media (min-width: 1750px) {
    .registration-container {
      /* Ajustez la mise en page pour les grands écrans ici */
      justify-content: center;
      padding: 20px;
    }
  
    .registration-image {

      /* Ajustez la mise en page de l'image ici */
      flex: 1;
      max-width: 50%;
    }
    .registration-image img{
        margin-left: 40%;
      }
    .registration-form {
      /* Ajustez la mise en page du formulaire ici */
      flex: 1;
      max-width: 40%;
      padding: 20px;
      margin-right: 25%;
    }

  }
  

    /* Ajouter des règles de mise en page pour les grands écrans (largeur minimale de 1200px) */
    @media (min-width: 1100px) and (max-width: 1480px) {
        .registration-container {
          /* Ajustez la mise en page pour les grands écrans ici */
          justify-content: center;
          padding: 20px;
        }
      
        .registration-image {
    
          /* Ajustez la mise en page de l'image ici */
          flex: 1;
          max-width: 50%;
        }
        .registration-image img{
            margin-left: 30%;
          }
        .registration-form {
          /* Ajustez la mise en page du formulaire ici */
          flex: 1;
          max-width: 40%;
          padding: 20px;
          margin-right: 15%;
        }
    
      }
      
          /* Ajouter des règles de mise en page pour les grands écrans (largeur minimale de 1200px) */
    @media (min-width: 1480px) and (max-width: 1748px) {
        .registration-container {
          /* Ajustez la mise en page pour les grands écrans ici */
          justify-content: center;
          padding: 20px;
        }
      
        .registration-image {
    
          /* Ajustez la mise en page de l'image ici */
          flex: 1;
          max-width: 50%;
        }
        .registration-image img{
            margin-left: 39%;
          }
        .registration-form {
          /* Ajustez la mise en page du formulaire ici */
          flex: 1;
          max-width: 40%;
          padding: 20px;
          margin-right: 15%;
        }
    
      }
      
    
          /* Ajouter des règles de mise en page pour les grands écrans (largeur minimale de 1200px) */
    @media (min-width: 870px) and (max-width: 1100px) {
        .registration-container {
          /* Ajustez la mise en page pour les grands écrans ici */
          justify-content: center;
          padding: 20px;
        }
      
        .registration-image {
          /* Ajustez la mise en page de l'image ici */
          flex: 1;
          max-width: 50%;
        }
        .registration-image img{
            margin-left: 25%;
            width: 90%;
          }
        .registration-form {
          /* Ajustez la mise en page du formulaire ici */
          flex: 1;
          max-width: 40%;
          padding: 20px;
          margin-right: 5%;
        }
    
      }
      