button {
    width: 50%;
    padding: 10px;
    background-color: #F27054;
    color: #fff;
    box-shadow: 5px 5px #E7E9EB ;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
  }