.container5{
    position: relative;
    width: 2060px; 
    top: 295px;
    margin-bottom: 400px;
    height: 1669px;
    background-color: #f7cdc3;
}


.profil{
    position: absolute;
    margin-top: 160px;
    margin-left:  20px;
}

.profil-container{
    position: relative;
    width: 1272px;
height: 1000px;
top: 199px;
background-color: aliceblue;
left: 429px;
padding: 41px, 35px, 31px, 35px;
border-radius: 15px;
gap: 36.5px;

}
