
  .pagination-controls button {

    position: relative;
    left: 580px; 
    background-color: #F27054;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 6px;
    cursor: pointer;
  }
  
.pagination-controls{
  position: absolute;
  top: 1430px;
}



  .pagination-controls button:hover {
    background-color: white;
    color: black;
  }
  

  .tout{
    display: grid;

  }
  .c1 {
    display: grid;
    position: relative;
    top: -12px;
    grid-template-columns: repeat(auto-fit, minmax(10px,500px));

  }


  
  .plat {
    max-width: 100%;
  }
  
  .info {
    text-align: center;
  }
  
  