

.contenu5{
   
    width: 295.25px;
    height: 405px;
    background-color: white;
    box-shadow: 0 7px 19px rgba(228, 174, 174, 0.5);
    border-radius: 16px;
    padding: 20px;
   text-align: center;}


.plat1{

    position: absolute;
    width: 279px;
    height: 200px;
    border-radius: 6px;
    left: 8px;
    top: 8px;
  
}

.info1{
    color: black;
    margin-left: 0px;
    margin-top: 180px;
}

h{
    position: relative;
    font-weight: 900;
    top: 25px;
}



  .container1 {
    display: flex;
    height: 797px;
    background-color: #f7cdc3;
    flex-direction: column; /* Assurez-vous que les éléments sont empilés verticalement */
  }
  

.populaire{
    position: relative;
    width: 40%;
}


/* Styles for smaller screens (e.g., mobile devices) */
.wrapper {
    position: absolute;
    width: 100%;
    margin-top: 300px;
    max-width: 100%; /* Ensure it doesn't exceed 100% width */
    box-sizing: border-box; /* Include margins and borders in the width */
    padding: 0 10px; /* Adjust horizontal padding as needed */
  }
  
  /* Adjust padding and other styles for larger screens (e.g., tablets and desktops) */
  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 0 20px; /* Increase horizontal padding for larger screens */
    }
  }
  
  /* Additional styles for even larger screens (e.g., desktops) */
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding: 0 30px; /* Further increase padding for larger screens */
    }
  }
  

  
  