

.contenu5{
   
    width: 295.25px;
    height: 405px;
    background-color: white;
    box-shadow: 0 7px 19px rgba(228, 174, 174, 0.5);
    border-radius: 16px;
    padding: 20px;
   text-align: center;}


.plat1{

    position: absolute;
    width: 279px;
    height: 200px;
    border-radius: 6px;
    left: 8px;
    top: 8px;
  
}

.info1{
    color: black;
    margin-left: 0px;
    margin-top: 180px;
}

h{
    position: relative;
    font-weight: 900;
    top: 25px;
}


.wrapper{
    position: absolute;
    width: 100%;
  }


  @media (min-width: 280px) {
    .wrapper{
        min-width: 280px;
      }
    
}
  @media (min-width: 540px) {
    .wrapper{
        width: 540px;
      }
    
}

@media (min-width: 780px) {
    .wrapper{
        min-width: 780px ;
      }
    
}

@media (min-width: 1024px) {
    .wrapper{
        min-width: 1020px ;
      }
    
}
@media (min-width: 1280px) {
    .wrapper{
        min-width: 1280px ;
      }
    
}


@media (min-width: 1480px) {
        .wrapper{
            min-width: 1470px ;
          }
        
    }


    @media (min-width: 1900px) {
        .wrapper{
            min-width: 100% ;
          }
        
    }




